#complete {
  display: none;
}

h4, h3 {
  margin-bottom: 40px;
}
.question {
  margin-bottom: 30px;
}

.labelName {
  margin-bottom: 30px;
}

.question-gray {
  background-color: #ebf0ee;
  padding: 5px, 0px, 5px, 0px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #aaaaaa;

}
select {
  margin-left: 20px;
}
select.select-gray {
margin-bottom: 20px;

}
label {
  margin: 20px 0px 10px 20px;
}

button#submit, button#secondary {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #BFBFBF;
  box-shadow: 5px 5px 3px #aaaaaa;
}

#result {
  font-size: 36px;
  margin: 20px 0px 10px 0px;
  font-style: italic;
}
#story {
  display: none;
  font-size: 20px;
}
button#secondary {
  display: none;
}
footer, header {
  height: 40px;
}

.jumbotron {
  background-color: #ebf0ee;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.error {
  outline: 1px solid red;
}